/*------------------------------------*\
    MAIN
\*------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  *behavior: url(boxsizing.htc);
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

html {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
}

object, embed, video, iframe, iframe[style] {
  max-width: 100%;
  /* height: auto; */
}

/* aspect ratio do youtube 16:9 */
.ratiohd {
  position: relative;
  padding-bottom: 56.25%; /* (9 / 16) * 100 */
  float: left;
  width: 100%;
  height: 0;
}

.ratio_el {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

.content {
  width: 100%;
  float: left;
}

/* ==================== HTML 5 ===================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

figure {
  margin: 0;
}

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//

audio,
canvas,
progress,
video {
  display: inline-block; // 1
  vertical-align: baseline; // 2
}

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//

audio:not([controls]) {
  display: none;
  height: 0;
}

//
// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

[hidden],
template {
  display: none;
}

/* ==================== LINKS ===================== */

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus;
  }
}

//
// Remove the gray background color from active links in IE 10.
//

a {
  background-color: transparent;
}

//
// Improve readability of focused elements when they are also in an
// active/hover state.
//

a:active,
a:hover {
  outline: 0;
}


/* ==================== TIPOGRAFIA ===================== */

b,
strong {
    font-weight: bold;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/* ==================== FORMATAÇÃO ALINHAMENTO ===================== */

.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin: 15px 15px 26px 0;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin: 15px 0 15px 15px;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin: 15px auto 10px auto;
}
.alignnone,
img.alignnone {
  clear: both;
  display: block;
  margin: 20px auto;
}


/* ==================== MENU DROPDOWN ===================== */

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
  list-style: none;
}

ul.dropdown {
  position: relative;
  z-index: 597;
}

ul.dropdown li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

/* DIREÇÃO DO SUBMENU*/

ul.dropdown-right ul {
  right: 0 ;
}

ul.dropdown-left ul {
  left: 0 ;
}

/* SUBMENU */
ul.dropdown ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 598;
  font-size: 12px;
}

ul.dropdown ul li {
  float: none;
}

ul.dropdown ul ul {
  top: 1px;
  left: 99%;
}

ul.dropdown li:hover > ul {
  visibility: visible;
  width: 211px;
}

/* ==================== FORMULÁRIO ===================== */

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}